
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'todos/style.css' %}" />
{% if object_list %}
    <div class="wrap">
        <div class="header"><span>Todo List</span></div>
            <div class="wrap-list">
                <ol class="list">
                    {% for note in object_list %}
                            <li >
                            <a href={% url 'detail' note.id %}>
                            <input type="checkbox" note.id >
                            <label for=note.id >{{note.folder}} ----- Do: {{note.title}}</label>
                            </a>
                            </li>
                    {%endfor%}
                </ol>
            </div> 
    </div>        
{% else %}
    <p>No notes available</p>
{% endif %}