
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
{% if notes %}
    <div class="wrap">
        <div class="header"><span>Todo List</span></div>
            <div class="wrap-list">
                <ol class="list">
                    {% for note in notes %}
                            <li>
                            <a href={% url 'detail' note.id %}>
                            <input type="checkbox" note.id >
                            <label for=note.id> {{note.date}} ----- Do: {{note.title}}</label></a>
                            </li>
                    {%endfor%}
                </ol>
            </div> 
    </div>        
{% else %}
    <p>No notes available</p>
{% endif %}